/* src/styles/Header.module.css */

.header {
    background-color: #ffffff; /* Белый фон для заголовка */
    color: black; /* Цвет текста */
    display: flex; /* Используем Flexbox для размещения элементов в заголовке */
    align-items: center; /* Вертикальное центрирование элементов в заголовке */
    justify-content: space-between; /* Размещение элементов по краям заголовка */
    width: 100%; /* Ширина заголовка на 100% экрана */
    height: 100px; /* Высота заголовка */
    position: fixed; /* Фиксированное позиционирование для того, чтобы заголовок оставался вверху при прокрутке */
    top: 0; /* Прикрепляет заголовок к верхней части экрана */
    left: 0; /* Прикрепляет заголовок к левой стороне экрана */
    z-index: 1000; /* Высокий z-index, чтобы заголовок находился поверх других элементов */
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту элемента */
    overflow: hidden; /* Скрывает переполнение содержимого, чтобы предотвратить появление скролла */
    
  }
  
  .logo {
    width: 94px; /* Ширина логотипа */
    height: 60px; /* Высота логотипа */
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .searchContainer {
    display: flex; /* Используем Flexbox для размещения элементов в контейнере поиска */
    align-items: center; /* Вертикальное центрирование элементов в контейнере поиска */
    flex-grow: 1; /* Позволяет контейнеру поиска занимать оставшееся пространство между логотипом и кнопкой выхода */
    margin-left: 136px; /* Отступ слева для контейнера поиска */
    top: 22px;
  }
  
  .searchInput {
    font-size: 14px; /* Размер шрифта в поле поиска */
    border: none; /* Убираем бордер у поля ввода */
    border-radius: 10px 0 0 10px; /* Закругляем левую часть углов у поля ввода */
    outline: none; /* Убираем обводку при фокусировке */
    background-color: rgba(143, 146, 161, 0.05); /* Светлый серый фон для поля ввода */
    width: 1449px; /* Ширина поля ввода на 100% доступного пространства в контейнере поиска */
    max-width: 449px; /* Максимальная ширина поля ввода */
    height: 24px; /* Высота поля ввода */
    justify-self: start;
    font-family: Roboto, sans-serif; /* Шрифт для текста в поле ввода */
    font-weight: 500; /* Жирность шрифта */
    padding: 16px;
    
  }
  
  .searchButton {
    border: none; /* Убираем бордер у кнопки */
    cursor: pointer; /* Указатель курсора при наведении на кнопку */
    display: flex; /* Используем Flexbox для размещения иконки внутри кнопки */
    align-items: center; /* Вертикальное центрирование иконки внутри кнопки */
    justify-content: center; /* Горизонтальное центрирование иконки внутри кнопки */
    background-color: rgba(143, 146, 161, 0.05); /* Светлый серый фон для кнопки */
    height: 56px; /* Высота кнопки */
    padding: 0 10px; /* Внутренние отступы слева и справа у кнопки */
    font-size: 14px; /* Размер шрифта в кнопке */
    font-family: Roboto, sans-serif; /* Шрифт для текста в кнопке */
    font-weight: 500; /* Жирность шрифта */
    color: rgba(143, 146, 161, 1); /* Цвет текста в кнопке */
    border-radius: 0 10px 10px 0; /* Закругляем правую часть углов у кнопки */
    
  }
  
  .searchIcon {
    width: 24px; /* Ширина иконки поиска */
    height: 24px; /* Высота иконки поиска */
  }
  
  .box {
    display: flex; /* Используем Flexbox для размещения элементов в блоке */
    align-items: center; /* Вертикальное центрирование элементов в блоке */
    gap: 8px; /* Пробел между элементами в блоке */
  }
  
  .exit {
    font-size: 14px; /* Размер шрифта для текста кнопки выхода */
    font-weight: 500; /* Жирность шрифта */
    
    color: rgba(143, 146, 161, 1);
  }
  
  .exitIcon {
    width: 32px; /* Ширина иконки выхода */
    height: 32px; /* Высота иконки выхода */
    margin-right: 35px;
  }


  .form {
    height: 56px;
    width: 449px;
  }

  .form {
    display: flex; 
    align-items: center; /* Центрирует элементы по вертикали */
    justify-content: space-between; /* Размещает элементы с расстоянием между ними */
    width: 449px; /* Ширина формы */
    max-width: 600px; /* Максимальная ширина формы */
    border-radius: 8px; /* Скругление углов */
}